:root {
  --white: #f5f8f4;
  --blue1: #71c3d2;
  --blue2: #b2dde6;
  --blue3: #002E5B;
  --title: "Give You Glory", cursive;
  --normaltext: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--normaltext);
  font-weight: 400;
  font-style: normal;
}

h2, h3, h4{
  color: var(--blue3);
  font-family: var(--title);
  font-size: 3rem;
}

.hero{
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav {
  padding-top: 1.2rem;
}

nav ul li{
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white);
}

nav ul li:hover, .mid li:hover{
  transform: translateY(-3px);
  transition: transform 0.3s linear;
}

nav ul li a{
  color: var(--white);
  padding-right: 1.2rem;
  font-family: var(--title);
}

a:hover {
  color: var(--blue2);
}

#menu, .menu-1, .menu-2{
  display: none;
  width: 20px;
  vertical-align: bottom;
  margin-right: 1rem;
  color: var(--white);
}

/* Hero */
header {
  background-image: url('../assets/background.webp');
  background-size: cover;
  background-position: center 70%;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

/* Overlay（black layer） */
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* 黒 + 透過 */
  z-index: 1;
}

.headlines {
  position: absolute;
  padding: 5%;
  top: 40%;
  left: auto;
  z-index: 1;
}

.headlines h2, .headlines h3{
  color: var(--white);
  margin-bottom: -1rem;
}

.headlines p{
  padding-top: 1rem;
}

/* About */
.about {
  padding: 3rem;
  text-align: center;
}

.about p, .skills p {
  padding: 1rem;
}

.background, .resume, .pj {
font-size: 2.5rem;
color: var(--blue2);
padding-top: 2rem;
}

.resumebtn {
  display: inline-block;
  font-family: var(--title);
  border: none;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  background-color: var(--white);
}

.resumebtn:hover {
  background-color: var(--blue3);
  color: var(--white);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

.field{
  background-color: var(--white);
  border-radius: 1rem;
  position: relative;
}

.field img {
  width: 150px;
  padding: 2rem;
}

.field h4, .skills h4 {
  font-size: 1.5rem;
}

/* Education */
.edu, .experience {
  background-color: var(--blue1);
  padding: 5rem;
}

h5{
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.school {
  font-weight: 500;
}

.term {
  padding: 0.5rem 0;
}

/* Relevant skills */
.skills {
  text-align: center;
  padding: 3rem;
}

.flex {
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
}

.fa-html5, .fa-css3, .fa-js, .fa-php, .fa-python{
  font-size:6rem;
  color: var(--blue3);
}

#icon1 {
  font-size: 50px;
  padding: 3rem 0.5rem 2rem;
}

#icon2 {
  font-size: 100px;
  padding: 1rem;
}

.frontback  {
  display: flex;
  justify-content: center;
}

.webex, .phpex {
  display: flex;
  justify-content: end;
}

#img1 {
  width: 100%;
}

#git {
  position: absolute;
  padding-right: 2rem;
  justify-content: end;
  font-size: 3rem;
  color: var(--blue3);
  cursor: pointer;
}

#git:hover {
  color: var(--blue1);
}

#git:after {
  content: "Open on GitHub!";
  font-size: 1rem;
  position: absolute;
  display: none;
  width: 15ch;
}

#git:hover:after {
  display: block;
  color: var(--blue3);
  top: 0;
  right: 5rem;
  cursor: pointer;
}

/* Relevant Experience */
.experience {
  grid-template-columns: 1fr 2fr;
}

.pm {
  margin-bottom: 1rem;
}

/* Certifications */
.cert {
  background-color: var(--white);
  padding: 3rem;
  text-align: center;
}

.cert .grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cert .grid img {
  width: 100%;
  padding: 2rem;
}

/* Contact */
.contact {
  background-color: var(--blue1);
  padding: 5rem;
  gap:2rem;
}

.contactimg {
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
}

.contactform {
  padding: 1rem;
}

.contact img {
  width: 100%;
  margin: -50px 0 -300px 0;
  border-radius: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.form input, .form textarea {
  margin-bottom: 1rem;
  padding: 0.3rem 0 0.5rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  resize: none;
  position: relative;
}

.form textarea{
  height: 100%;
}

.form button{
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
}

/* Back to Top */
.backtotop {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  border: none;
  font-size: 3rem;
  background-color: transparent;
  color: var(--blue3);
}

/* Footer */
footer {
  background-color: var(--blue3);
  padding: 3rem 0 1rem 3rem;
}

.footer{
  grid-template-columns: 1fr 1fr 1fr;
}

footer h2, footer a {
  color: var(--white);
  font-family: var(--title);
  font-size: 2rem;
  padding-right: 1rem;
}

.mid ul{
  display: flex;
}

.footer nav {
  padding: 0;
}

.footer nav ul{
  display: flex;
  flex-direction: column;
}

.footer nav ul li a {
  font-size: 1.2rem;
}

.copyrights {
  text-align: center;
  color: var(--blue1);
  margin-top: 2rem;
}

@media (max-width: 768px) {
  h2, h3, h4 {
    font-size: 2rem;
  }
  p {
    font-size: 0.9rem;
  }
  /* nav */
  .navcontent {
    display: none;
  }
  .menu-1 {
    display: block;
  }
  #menu:checked ~ .menu-1 {
    display: none;
  }
  #menu:checked ~ .menu-2 {
    display: inline-block;
  }
  .menu-right {
    padding-top: 17px;
  }
  #menu:checked ~ .menu-2 {
    position: relative;
    z-index: 50;
    width: 20px;
  }
  #menu:checked ~ .navcontent {
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 10;
    position: absolute;
    top: 0px;
    right: 0;
    height: 100vh;
    width: 100%;
    padding: 10% 5%;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* hero */
  .field h4, .skills h4{
    font-size: 1.2rem;
  }
  /* about */
  .field img {
    width: 130px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  .resumebtn {
    font-size: 1.1rem;
  }
  /* education */
  h5 {
    padding: 0.9rem 0;
  }
  /* skills */
  .flex {
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
    overflow: scroll;
  }
  .fa-html5, .fa-css3, .fa-js, .fa-php, .fa-python{
    font-size:4rem;
  }
  #icon1 {
    width: 5rem;
    padding: 2rem 0.5rem 2rem;
  }
  #icon2 {
    width: 7rem;
  }
  .background, .resume, .pj {
    font-size: 1.5rem;
  }
  /* certification */
  .cert .grid img {
    padding: 0;
  }
  figcaption {
    font-size: 0.8rem;
  }
  /* contact */
  .contactimg{
    text-align: center;
  }
  .contact img {
    width: 70%;
    margin: -30px 0 -100px 0;
    border-radius: 1rem;
  }
  .contactform {
    padding: 0;
  }
  .contactform h2 {
    font-size: 2.5rem;
  }
  /* footer */
  footer {
    padding: 3rem;
  }
  footer h2, footer a {
    font-size: 1.5rem;
  }
  footer nav ul li a{
    padding-left: 0; 
  }
}

@media (max-width: 425px) {
  /* about */
  .about, .edu, .skills, .experience, .cert, .contact {
    padding: 2rem;
  }
  .resumebtn {
    padding: 1rem 1rem;
  }
  /* skills */
  .fa-html5, .fa-css3, .fa-js, .fa-php, .fa-python {
    font-size: 3rem;
  }
  #icon1 {
    width: 4rem;
    padding-bottom: 1rem;
  }
  #icon2 {
    width: 6rem;
    padding-bottom: 0;
  }
  #git {
    font-size: 2.5rem;
  }
}